DATABASE_URL = "postgresql://user:password@localhost:5432/pricetracker"
SECRET_KEY = "thesecretkeyforjwt..."
ALGORITHM = "HS256"
ACCESS_TOKEN_EXPIRE_MINUTES = 30
REFRESH_TOKEN_EXPIRE_DAYS = 7
SCRAPE_URL = "https://www.flipkart.com"
REDIS_URL = "redis://localhost:6379/0"
EMAIL_FROM = "starbeacon.dev@gmail.com"
EMAIL_PASSWORD = "emailpassword"